<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreData_Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DE059FB1D2B94F600BCAE76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DE05A121D2B94F600BCAE76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DE05A1D1D2B94F600BCAE76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
